body {
	margin: 40px;
}

:global(.sidebar) {
	grid-area: sidebar;
}

:global(.content) {
	grid-area: content;
}

:global(.header) {
	grid-area: header;
	background-color: #999;
}

:global(.footer) {
	grid-area: footer;
	background-color: #999;
}

:global(.wrapper) {
	background-color: #fff;
	color: #444;
	display: grid;
	grid-gap: 1em;
	grid-template-areas: "header" "sidebar" "content" "footer";
}

:global(.box) {
	background-color: #444;
	color: #fff;
	padding: 10px;
}

@media only screen and (min-width: 500px) {
	:global(.wrapper) {
		grid-template-columns: 20% auto;
		grid-template-areas: "header   header" "sidebar  content" "footer   footer";
	}
}

@media only screen and (min-width: 600px) {
	:global(.wrapper) {
		grid-gap: 20px;
		grid-template-columns: 120px auto 120px;
		grid-template-areas: "header  header  header" "sidebar content content" "footer  footer  footer";
	}
}
